<div fxLayout="column" fxFlexFill>
  <div fxFlex>
    <app-header></app-header>
    <mat-progress-spinner mode="indeterminate" diameter='30'></mat-progress-spinner>
    <mat-sidenav-container fxFlexFill>
      <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over" opened="false" fxHide.gt-sm="true">
        <div fxLayout="column">
          <a mat-button routerLink="/search360">Search 360</a>
          <a mat-button routerLink="/customers">Customers</a>
          <a mat-button routerLink="/accounts">Accounts</a>
          <a mat-button routerLink="/search360">Search 360</a>
        </div>
      </mat-sidenav>

      <mat-sidenav-content fxFlexFill>

        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </div>
  <app-footer></app-footer>
</div>
