<div class="row">
  <div class="column">
    <table class="table1">
      <tr>
        <td><h3 class="person-overview" *ngIf="data$.person.idNumbers">CPR-Nummer</h3></td>
        <td><h3 class="person-overview" *ngIf="data$.person.idNumbers">{{data$.person.idNumbers[0].personIdNumberPK?.id || 'Ikke Sat'}}</h3></td>
      </tr>
      <tr>
        <td><h3 class="person-overview">Deptor ID</h3></td>
        <td><h3 class="person-overview">{{data$.person?.personId || 'Ikke Sat' }}</h3></td>
      </tr>
      <tr>
        <td><h3 class="person-overview" *ngIf="data$.person.idNumbers">Name</h3></td>
        <td><h3 class="person-overview" *ngIf="data$.person.names">{{data$.person.names[0]?.fullName || 'Ikke Sat' }}</h3></td>
      </tr>
    </table>
  </div>
  <div class="column">
    <table class="table2">
      <tr>
        <td><h3 class="person-overview">Current Balance</h3></td>
        <td><h3 class="person-overview">{{data$?.totalSaldo || 'Ikke Sat'}}</h3></td>
      </tr>
      <tr>
        <td><h3 class="person-overview">Payment Ability</h3></td>
        <td><h3 class="person-overview">{{data$?.betalingsEvne || 'Ikke Sat' }}</h3></td>
      </tr>
      <tr>
        <td><h3 class="person-overview">Calculated Payment Ability</h3></td>
        <td><h3 class="person-overview">{{data$?.betalingsEvneCalc || 'Ikke Sat'}}</h3></td>
      </tr>
    </table>
  </div>
</div>



